html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { display: flex; flex-direction: column;}
.main-content { flex: 1 0 aut }
footer { flex-shrink: 0; }

.capitalize-once::first-letter {text-transform: uppercase;}

/* Couper les mots longs */
.table td { word-break: break-word; }

/* Fixe width column  */
.table { table-layout: fixed; width: 100%; }

/* light */
.text-primary-light { color: #b3d7ff !important; }
.text-secondary-light { color: #d6d8db !important; }
.text-success-light { color: #b7e4c7 !important; }
.text-danger-light { color: #f8d7da !important; }
.text-warning-light { color: #fff3cd !important; }
.text-info-light { color: #cfe9f7 !important; }
.bg-primary-light, .bg-primary-light:hover { background-color: #b3d7ff !important; }
.bg-secondary-light { background-color: #d6d8db !important; }
.bg-success-light, .bg-success-light:hover { background-color: #b7e4c7 !important; }
.bg-danger-light, .bg-danger-light:hover { background-color: #f8d7da !important; }
.bg-warning-light, .bg-warning-light:hover { background-color: #fff3cd !important; }
.bg-info-light, .bg-info-light:hover { background-color: #cfe9f7 !important; }

/* dark*/
.text-primary-dark { color: #0a48b3 !important; }
.text-secondary-dark { color: #343a40 !important; }
.text-success-dark { color: #11623c !important; }
.text-danger-dark { color: #9e1f2c !important; }
.text-warning-dark { color: #a37c05 !important; }
.text-info-dark { color: #086589 !important; }
.bg-primary-dark, .bg-primary-dark:hover { background-color: #0a48b3 !important; }
.bg-secondary-dark { background-color: #343a40 !important; }
.bg-success-dark, .bg-success-dark:hover { background-color: #11623c !important; }
.bg-danger-dark, .bg-danger-dark:hover { background-color: #9e1f2c !important; }
.bg-warning-dark { background-color: #a37c05 !important; }
.bg-info-dark, .bg-info-dark:hover { background-color: #086589 !important; }


/* active */
.pagination .page-item.active .page-link {
  background-color: #0a95b8;  
  border-color: #0a95b8; 
  color: #ffffff; 
}

/* inactive */
.pagination .page-item .page-link { color: #0a95b8; }

/* hover */
.page-link:hover { background-color: #cfe9f7 !important; }


.hidden { display: none; }
.show { display: block; }

.cursor-default { cursor: default !important; }
.cursor-link { cursor:pointer !important;}

.wrapper { background-color: #f3f3f3; padding: 3rem }
.image-container { margin: 10px }
.image-small { width: 25%; height: auto }
.description { max-width: 400px; margin-left: 2rem }
.description h2 { font-size: 24px; color: #00b3b3 }
.description p { font-size: 16px; color: #333 }

/* need to fix */
.underline{ text-decoration: underline; font-style: italic }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.underlined { text-decoration: underline; }
.undecored { text-decoration: none; }
.ft-victoria {font-family: "Playwrite AU VIC", cursive;}
.ft-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 
Primary : #0d6efd
Secondary : #6c757d
Success : #198754
Danger : #dc3545
Warning : #ffc107
Info : #0dcaf0
Light : #f8f9fa
Dark : #212529 
*/

/* light */
.text-primary-light { color: #b3d7ff !important; }
.text-secondary-light { color: #d6d8db !important; }
.text-success-light { color: #b7e4c7 !important; }
.text-danger-light { color: #f8d7da !important; }
.text-warning-light { color: #fff3cd !important; }
.text-info-light { color: #cfe9f7 !important; }
.bg-primary-light, .bg-primary-light:hover { background-color: #b3d7ff !important; }
.bg-secondary-light { background-color: #d6d8db !important; }
.bg-success-light, .bg-success-light:hover { background-color: #b7e4c7 !important; }
.bg-danger-light, .bg-danger-light:hover { background-color: #f8d7da !important; }
.bg-warning-light, .bg-warning-light:hover { background-color: #fff3cd !important; }
.bg-info-light, .bg-info-light:hover { background-color: #cfe9f7 !important; }

/* dark*/
.text-primary-dark { color: #0a48b3 !important; }
.text-secondary-dark { color: #343a40 !important; }
.text-success-dark { color: #11623c !important; }
.text-danger-dark { color: #9e1f2c !important; }
.text-warning-dark { color: #a37c05 !important; }
.text-info-dark { color: #086589 !important; }
.bg-primary-dark, .bg-primary-dark:hover { background-color: #0a48b3 !important; }
.bg-secondary-dark { background-color: #343a40 !important; }
.bg-success-dark, .bg-success-dark:hover { background-color: #11623c !important; }
.bg-danger-dark, .bg-danger-dark:hover { background-color: #9e1f2c !important; }
.bg-warning-dark { background-color: #a37c05 !important; }
.bg-info-dark, .bg-info-dark:hover { background-color: #086589 !important; }

.board{ background: none;}
.text-shadow { text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.mt-90{ margin-top: 90px;}
.mt-70{ margin-top: 150px;}
.carousel{ max-width: 800px;}
.offcanvas-body { overflow-y: auto;  max-height: 80vh; }


.pagination .page-item .page-link:hover { /* bg hover  */
  background-color: #d8f8db; 
  color: #343a40; 
}

.form-design {
  background-color: #11623c;
  color: #b7e4c7;
}

@keyframes bounce { 0%,100% 
  {transform: translateY(0);}
  40% {transform: translateY(-8px);}
  50% {transform: translateY(0px);}
  60% {transform: translateY(-6px);}
  70% {transform: translateY(-0px);}
  80% {transform: translateY(-4px);}
  90% {transform: translateY(0px);}
}
.start-bounce{animation:bounce 1s;}


